@use '../../styles/breakpoint.scss';

@keyframes BackgroundAnimation {
  0%   {background: linear-gradient(140deg, rgb(68, 132, 206), rgb(26, 215, 192)); }
  20%  {background: linear-gradient(140deg, rgb(26, 215, 192), rgb(255, 155, 17));}
  40%  {background: linear-gradient(140deg, rgb(255, 155, 17), rgb(155, 89, 182));}
  60%  {background: linear-gradient(140deg, rgb(155, 89, 182), rgb(255, 127, 127));}
  80%  {background: linear-gradient(140deg, rgb(255, 127, 127), rgb(68, 132, 206));}
}

.container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  background: rgb(68, 132, 206);
  animation-name: BackgroundAnimation;
  animation-duration: 30s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
  animation-timing-function: ease-in;
}