@use '../../styles/color.scss';
@import '../../styles/font.scss';

.container {
  @include Body1-Regular;
  color: color.$gray000;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

  .logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .link {
    color: #61dafb;
  }
}

