@use '../../../styles/color.scss';
@use '../../../styles/breakpoint.scss';
@import '../../../styles/font.scss';

.container {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px 0;

  .title {
    @include H2-Bold;
    color: color.$gray800;
    margin-bottom: 32px;
  }

  .infoContainer {
    margin-top: 48px;

    .skillContainer {
      margin-bottom: 24px;

      p {
        @include Body1-Regular;
        color: color.$gray700;
        margin: 0;
      }

      .skill {
        width: 100px;
        height: 24px;
      }
    }

    .skillContainer:last-child {
      margin-bottom: 0px;
    }
  }
  
}

@media (max-width: breakpoint.$mobile){
  .container {
    margin: 16px 0;

    .title {
      @include Subtitle1-Bold;
      margin-bottom: 16px;
    }

    .infoContainer {
      margin-top: 16px;
    }
  }
}