@use '../../styles/color.scss';
@use '../../styles/breakpoint.scss';
@import '../../styles/font.scss';

.container{
  width: 100vw;
  z-index: 999;
}

.header {
  height: 120px;
  padding: 0px 70px;
  display: flex;
  align-items: center;
  justify-content: right;
  box-sizing: border-box;

  .menuContainer {
    display: flex;
    align-items: center;
    @include Subtitle2-Regular;
    color: color.$gray700;

    .textButton {
      cursor: pointer;
      margin-right: 40px;
    }

    .option {
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: space-between;

      .icon {
        margin-right: 4px;
        align-items: center;
        width: 30px;
        height: 30px;

        svg {
          width: 30px;
          height: 30px;
          fill: color.$gray700;
        }
      }

      p {
        margin: 0;
      }  
    }

    .dropDownOption {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include Body2-Regular;
      color: color.$gray800;
      width: 88px;
      height: 28px;
      border-radius: 8px;
      padding: 4px 12px;
      box-sizing: border-box;
      cursor: pointer;
      margin-bottom: 12px;
    }

    .dropDownOption:last-child {
      margin: 0;
    }

    .dropDownOption:hover {
      background: color.$hover1;

      .arrow {
        display: block;
      }
    }
  }

  .menuButton {
    display: none;
  }
}

.mobileMenu{
  display: none;
  padding: 0 8px;
  height: 100%;
  overflow: hidden;
  position: relative;

  .textButtonContainer{
    .textButton{
      @include Subtitle2-Regular;
      color: color.$gray700;
      margin-bottom: 8px;
      cursor: pointer;
      padding: 8px;
      border-radius: 8px;
    }
  
    .textButton:last-child {
      margin-bottom: 12px;
    }

    .textButton:hover {
      background: color.$hover1;
  
      .arrow {
        display: block;
      }
    }
  }
}

@media (max-width: breakpoint.$mobile){
  .menuOpen {
    background-color: color.$hover2;
  }

  @keyframes slide-down{
    from {
      background-color: transparent; 
      transform: scale(1,0);
    }
    to {
      background-color: color.$hover2;
      transform: scale(1,1);
    }
  }

  @-webkit-keyframes slide-down{
    from {
      background-color: transparent; 
      -webkit-transform: scale(1,0);
    }
    to {
      background-color: color.$hover2;
      -webkit-transform: scale(1,1);
    }
  }

  .openMenu{
    background-color: color.$hover2;
    max-height: 160px;
    transition: max-height 0.3s ease-in;
    transform-origin: 50% 0;
    animation: slide-down 0.3s ease-in ;
    -webkit-animation: slide-down 0.3s  ease-in ;
  }

  .header {
    height: 56px;
    padding: 0px 16px;

    .menuContainer {
      .textButton {
        display: none;
      }

      .languageButton{
        .option{
          .icon {
            margin-right: 0px;
          }

          p {
            display: none;
          }  
        }  
      }  
    }

    .menuButton {
      display: block;
      margin-left: 24px;
      width: 40px;
      height: 40px;
      cursor: pointer;

      svg {
        width: 40px;
        height: 40px;
        fill: color.$gray700;
      }
    }
  }

  .mobileMenu{
    display: block;
  }
}
