@use '../../../styles/color.scss';
@use '../../../styles/breakpoint.scss';
@import '../../../styles/font.scss';

.infoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 64px 0px 32px 0px;

  .title {
    @include H2-Bold;
    color: color.$gray800;
    margin-bottom: 32px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    p{
      @include Subtitle2-Regular;
      color: color.$gray800;
      margin: 8px 48px;
    }
  }
  
}

@media (max-width: breakpoint.$mobile){
  .infoContainer {
    margin: 32px 0px 16px 0px;

    .title {
      @include Subtitle1-Bold;
      margin-bottom: 16px;
    }
    
    .content {
      p{
        @include Body1-Regular;
        margin: 8px 28px;
      }
    }
  }
}