@use '../../../styles/color.scss';
@use '../../../styles/breakpoint.scss';
@import '../../../styles/font.scss';

.infoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 120px 0px 60px 0px;

  .content {
    @include Body1-Regular;
    color: color.$gray800;
    margin: 8px 36px;
  }
  
}

@media (max-width: breakpoint.$mobile){
  .infoContainer {
    margin: 56px 0px 28px 0px;
    
    .content {
      margin: 8px 16px;
    }
  }
}