@use '../../styles/color.scss';
@use '../../styles/breakpoint.scss';
@import '../../styles/font.scss';

.infoContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  .content {
    @include Body1-Regular;
    color: color.$gray800;
    margin: 8px 36px;
  }
  
}

@media (max-width: breakpoint.$mobile){
  .infoContainer {
    .content {
      margin: 8px 16px;
    }
  }
}